.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.card {
  width: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-size: 40px;
  color: lightblue;
  font-weight: 600;
  font-family: Malgun Gothic;
}

.hello {
  font-size: 30px;
  color: rgb(33, 32, 34);
  font-weight: 300;
  font-family: Malgun Gothic;
}

.btncontainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.writeBtn {
  width: 40px;
  aspect-ratio: 1;
  background-color: darkturquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.writeBtn:hover {
  box-shadow: 0px 0px 4px 2px darkgray;
}
